<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>
    <footer>
        <a href="https://scholar.google.com/citations?user=YZcVsRMAAAAJ" target="_blank" rel="noopener"
            aria-label="google scholar">
            <i class="ai ai-google-scholar ai-2x"></i>
        </a>

        <a href="https://www.semanticscholar.org/author/Ohad-Fried/2416503" target="_blank" rel="noopener"
            aria-label="semantic scholar">
            <i class="ai ai-semantic-scholar ai-2x"></i>
        </a>

        <a href="https://www.youtube.com/channel/UCEvgUTPTeHd3PaF-9NZkNdg" target="_blank" rel="noopener"
            aria-label="youtube">
            <i class="fa-brands fa-youtube fa-2x" aria-hidden="true"></i>
        </a>

        <a href="https://twitter.com/ohadf" target="_blank" rel="noopener" aria-label="twitter">
            <i class="fa-brands fa-x-twitter fa-2x" aria-hidden="true"></i>
        </a>

        <a href="https://www.linkedin.com/in/ohadfried/" target="_blank" rel="noopener" aria-label="linkedin">
            <i class="fa-brands fa-linkedin fa-2x"></i>
        </a>

        <a href="mailto:ofried@runi.ac.il" aria-label="email">
            <i class="fa-regular fa-envelope fa-2x" aria-hidden="true"></i>
        </a>
    </footer>
</body>

</html>