<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/cv.css">
    <link rel="stylesheet" type="text/css" href="/nav.css">
</head>

<body>
    <header>
        <div class="logo">
            <img id="me" loading=lazy alt="A photo of Ari Barzilai" src="images/me2.png"
                srcset="images-responsive/me2-100w.png 100w, images-responsive/me2-200w.png 200w, images-responsive/me2-300w.png 300w, images-responsive/me2-400w.png 400w, images-responsive/me2-500w.png 500w, images-responsive/me2-600w.png 600w, images-responsive/me2-700w.png 700w, images-responsive/me2-800w.png 800w, images-responsive/me2-900w.png 900w, images-responsive/me2-2316w.png 2316w"
                sizes="100px">

            <a href="#">Ari Barzilai</a>
        </div>
        <input type="checkbox" id="nav-toggle" class="nav-toggle" aria-label="Toggle navigation bar">
        <nav>
            <ul>
                <li><a href="/index.html" aria-label="home"><i class="fa-solid fa-house" aria-hidden="true"></i></a>
                </li>
                <li><a href="/index.html">About</a></li>
                <li><a href="/content/projects.html">Projects</a></li>
                <li><a href="/content/education.html">Education</a></li>
                <li><a href="/content/employment.html">Employment</a></li>
                <li><a href="#patents">Patents</a></li>
                <li><a href="#teaching">Teaching</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#students">Students</a></li>
                <li><a href="mailto:ari.barzilai@post.runi.ac.il" aria-label="email"><i class="fa-solid fa-envelope"
                            aria-hidden="true"></i></a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span>
                <i class="fa fa-bars fa-lg"></i>
            </span>
        </label>
    </header>
    <div class="clear"></div>
    <div class="clear"></div>
</body>

</html>